{{{header}}}

environmentFolderPath: ./env

# Triggered when 'teamsfx provision' is executed
provision:
{{{teamsAppCreate}}}

{{{armDeploy}}}

{{{teamsAppValidateManifest}}}
{{{teamsAppZipAppPackage}}}
{{{teamsAppValidateAppPackage}}}
{{{teamsAppUpdate}}}
{{{teamsAppExtendToM365}}}

# Triggered when 'teamsfx deploy' is executed
deploy:
{{#cliRunNpmCommand}} install {{/cliRunNpmCommand}}
{{#cliRunNpmCommand}} build {{/cliRunNpmCommand}}
{{{azureAppServiceZipDeploy}}}

# Triggered when 'teamsfx publish' is executed
publish:
{{{teamsAppValidateManifest}}}
{{{teamsAppZipAppPackage}}}
{{{teamsAppValidateAppPackage}}}
{{{teamsAppUpdate}}}
{{{teamsAppPublishAppPackage}}}
