  # Deploy your application to Azure Functions using the zip deploy feature.
  # For additional details, see at https://aka.ms/zip-deploy-to-azure-functions
  - uses: azureFunctions/zipDeploy
    with:
    {{#workingDirectory}}
      workingDirectory: {{workingDirectory}}
    {{/workingDirectory}}
      # deploy base folder
      artifactFolder: .
      # Ignore file location, leave blank will ignore nothing
      ignoreFile: .funcignore
      # the resource id of the cloud resource to be deployed to
      resourceId: {{resourceId}}